:root{
    --cor-branco: white;
    --cor-cinza: #f0f2f5;
    --cor-cinza2: #dddfe2;
    --cor-escuro: #1d2129;
    --cor-azul: #0655f5;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-cinza);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.conteudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
}
.conteudo-info{
    width: 600px;

}

h1{
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: var(--cor-azul);
    text-align: center;
}
a1{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
 
}

p{
    font-size: 13px;
    text-align: center;
}

.conteudo-login{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.conteudo-login-box{
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0 0 0/20%);
    border-radius: 8px;
}
.input{
    padding: 15px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid var(--cor-cinza2);
    outline: none;
    width: 90%;
    font-size: 17px;
    color: var(--cor-escuro);
}
.btn{
    padding: 10px;
    border: none;
    color: var(--cor-branco);
    border-radius: 5px;
    width: 100%;
    font-size: 25px;
    transform: 2.5s;
    cursor: pointer;
}

.btn-enter{
    background-color: var(--cor-azul);
}

.btn-criar-conta{
    background-color: limegreen;
}

a{
    color: var(--cor-azul);
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
